<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Split</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Voltaire|Francois+One' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:400,900,700' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <header>
      <div id="header-ul-wrapper">
        <ul id="header-ul">
          <li><a href="/expenses">Add Bills</a></li>
          <li><a href="/debt">Debt Listings</a></li>
          <li>
            <% if user_signed_in? %>
              <%= current_user.username %> <%= link_to "(Sign Out)", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Login", new_user_session_path %> (<%= link_to "Register", new_user_registration_path %>)
            <% end %>
          </li>
        </ul>
      </div>
    </header>
    
    <div id="container">
      <div id="main-content">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
